h1 {  font-family: 'Open Sans', sans-serif;
    color:silver;
    font-size:40px
    
}


li {
      float: left; text-decoration: none; padding: 5px; list-style-type: none
   font-family: 'Open Sans', sans-serif;
    text-size:35px 
    
    float: left; text-decoration: none; padding: 5px; list-style-type: none
    
}

a {font-family: 'Open Sans', sans-serif;
    text-decoration:none;
}

h2 {font-family: 'Open Sans', sans-serif;
    font-size:20px 
    
}

h3 {font-family: 'Open Sans', sans-serif;
    text-decoration:none;
    text-size:12px
}

p{font-family: 'Open Sans', sans-serif;
    text-decoration:none;
    
}

a.hover {
    color:silver;
}


h4 {font-family: 'Open Sans', sans-serif;
    text-size:20px
    
}
h2{ 
    
    color:silver;
    font-family: 'Open Sans', sans-serif;
    text-size:50px
   
}
h2.hover {
    color:blue;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}






