p{ 
    font-family: 'Open Sans', sans-serif;
 
     
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size:40px
  
}

h2 {
         font-family: 'Open Sans', sans-serif;
       font-size:40px
      
}
